<h1>

  Shelters
  

</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
  </tr>
  <% @shelters.each do |shelter| %>
    <tr id="<%= shelter.name.downcase.gsub('\'','').gsub(' ','') %>">
      <td><strong><%= link_to shelter.name, phone_updater_path(shelter.id) %></strong></td>
      <td><%= shelter.id %>

    </tr>
  <% end %>

</table>

